<div id="<%= dom_id twitterclon %>">

  <h3>Aqui va una imagen</h3>
  <p>
    <strong><%= twitterclon.username %></strong> @<%= twitterclon.username.downcase %> ~ hace <%= ((Time.now - twitterclon.created_at)/60).to_i %> minutos.
    
  </p>
  <p>
    <%= twitterclon.description %>
  </p>


</div>
