<p style="color: green"><%= notice %></p>

<h1>Twitterclons</h1>

<%= form_with url: twitterclons_path, method: :get do |form|%>
<%= form.text_field :query_text, placeholder: 'Ingresa tu busqueda', value: params[:query_text]%>
<%end%>

<div id="twitterclons">
  <% @twitterclons.each do |twitterclon| %>
    <%= render twitterclon %>
    <p>
      <%= link_to "Show this twitterclon", twitterclon %>
    </p>
  <% end %>
</div>

<%= link_to "New twitterclon", new_twitterclon_path %>
