<p style="color: green"><%= notice %></p>
<%= render @twitterclon %>
<div>
  <%= link_to "Edit this twitterclon", edit_twitterclon_path(@twitterclon)%> |
  <%= link_to "Back to twitterclons", twitterclons_path %>
  <%= button_to "Destroy this twitterclon", @twitterclon, method: :delete %>
</div>
